# Python
__pycache__/
*.pyc
dist/
build/
*.egg-info/

# test
.pytest_cache/

# Virtualenv
.venv/

# compiled
*.pyo
*.pyd
*.so

# editor
.vscode/
.idea/

# OS
.DS_Store

# cache
.cache/

# notebook
.ipynb_checkpoints/